[submodule "spring-validation"]
	path = spring-validation
	url = git@github.com:manhcntt21/spring-validation.git
[submodule "spring-exception-handling"]
	path = spring-exception-handling
	url = git@github.com:manhcntt21/spring-exception-handling.git
[submodule "spring-security"]
	path = spring-security
	url = git@github.com:manhcntt21/spring-security.git
[submodule "springboot-mongodb"]
	path = springboot-mongodb
	url = git@github.com:manhcntt21/springboot-mongodb.git
